# Website
VITE_WEBSITE_URL=https://faako.nanaabaackah.com
VITE_API_BASE_URL=https://api.faako.nanaabaackah.com

# ERP
VITE_ERP_URL=https://app.faako.nanaabaackah.com
VITE_ERP_API_BASE_URL=https://api.faako.nanaabaackah.com

# API
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/faako?schema=public
